<%- include("./partials/header.ejs",{title:"Raccourcisseur d'URL" }) %>

  <h1>Raccourcir une URL</h1>
  <form action="/shorten" method="post">
    <input type="url" name="longUrl" required>
    <button type="submit">Raccourcir</button>
  </form>
  <% if (shortUrl) { %>
    <p>URL raccourcie : <a href="<%= shortUrl %>"><%= shortUrl %></a></p>
    <img src="<%= qrCode %>" alt="QR Code">
  <% } %>



<%- include("./partials/footer.ejs") %>